@model Deposito.Presentacion.Models.MovimientoStockModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MovimientoStockModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.ErrorMessage
                </div>
            }
            <div class="form-group">
                <label asp-for="tipoMovimientoId" class="control-label"></label>
                <select asp-for="tipoMovimientoId" class="form-control">
                    <option value="">Selecciona un Tipo de Movimiento</option>
                    @if (ViewBag.Tipos != null)
                    {
                        foreach (var tipo in ViewBag.Tipos)
                        {
                            <option value="@tipo.id">@tipo.nombreMovimiento</option>
                        }
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="articuloMovidoId" class="control-label"></label>
                <select asp-for="articuloMovidoId" class="form-control">
                    <option value="">Selecciona un articulo de Movimiento</option>
                    @if (ViewBag.articulos != null)
                    {
                        foreach (var articulo in ViewBag.articulos)
                        {
                            <option value="@articulo.id">@articulo.nombre</option>
                        }
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="cantUnidadesMovidas" class="control-label"></label>
                <input asp-for="cantUnidadesMovidas" class="form-control" />
                <span asp-validation-for="cantUnidadesMovidas" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
