@model IEnumerable<ArticuloModel>

<form method="post" asp-action="GetMovimientosPorFechas">
        <div>
            <label for="fecha1">Ingrese una fecha de comienzo</label>
            <input type="date"  id="fecha1" name="f1" v-model="value" class="mb-2"></input>
            <label for="fecha2">Ingrese una fecha final</label>
            <input type="date" id="fecha2" name="f2" v-model="value" class="mb-2"></input>
            <input type="submit" value="ingresar fechas"/>
        </div>
</form>
@if (!string.IsNullOrEmpty(ViewBag.mensaje))
{
    <div class="alert alert-danger">
        @ViewBag.mensaje
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.codProveedor)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.precioActual)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model!= null)
        {

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.codProveedor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.precioActual)
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.stock)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
 </nav>
<form method="post" action="~/Teams/Next">
    <input type="submit" value="Next">
</form>
<form method="post" action="~/Teams/Previous">
    <input type="submit" value="Previous">
</form>
}