@model IEnumerable<Deposito.Presentacion.Models.MovimientoStockModel>

@{
    ViewData["Title"] = "GetMovimientos";
}

<h1>GetMovimientos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaYHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantUnidadesMovidas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaYHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantUnidadesMovidas)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
