@* @model IEnumerable<Deposito.Presentacion.Models.ResumenMovimientosModel>

@{
    ViewData["Title"] = "GetResumenMovimientoPorAñoYTipo";
}

<h1>Get Resumen del Movimiento Por Año Y Tipo</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Año)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.movimientos.nombreTipoMovimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCantidadesMovidas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Año)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCantidadesMovidas)
            </td>
        </tr>
}
    </tbody>
</table> *@


@model List<ResumenMovimientosModel>

@foreach (var año in Model)
{
    <h2>Año: @año.Año</h2>
    @foreach (var movimiento in año.movimientos)
    {
        <p>Tipo: @movimiento.nombreTipoMovimiento – Cantidad: @movimiento.cantidadMovimientos</p>
    }
    <h3>Total año @año.Año : @año.TotalCantidadesMovidas</h3>
}

