@model IEnumerable<Papeleria.LogicaAplicacion.DTOs.PedidoDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (!string.IsNullOrEmpty(ViewBag.mensaje))
{
    <div class="alert alert-danger">
        @ViewBag.mensaje
    </div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fechaPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precioTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descuento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estadoPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaEntregaDeseada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@if(Model!=null){
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fechaPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precioTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descuento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estadoPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaEntregaDeseada)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}}
    </tbody>
</table>
